@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        font-family: theme(fontFamily.primary);
        @apply sm:bg-light-dashboard-light
    }

    body {
        position: relative;
        display: flex;
        justify-content: center;
        overflow-y: hidden;
    }

    i {
        display: flex;
        align-items: center;
        font-size: theme(fontSize.base);
        cursor: pointer;
    }
}

@layer components {
    .skeleton {
        @apply select-none animate-skeleton bg-gradient-to-r from-skeleton-primary via-skeleton-secondary to-skeleton-primary text-transparent bg-[length:200%_100%];
    }

    .gradient {
        @apply bg-gradient-to-r from-light-gradient-left to-light-gradient-right;
    }

    .icon {
        @apply text-light-icon-color cursor-pointer transition-colors hover:text-light-icon-hover;
    }

    .text-error {
        @apply text-light-text-error;
    }

    .outline-error {
        @apply outline outline-2 !outline-light-text-error
    }

    .h-fullscreen {
        height: calc(100% - 200px - 1.5rem);
    }

    .h-content {
        height: calc(100vh - 7.5rem);
    }

    .w-fullscreen {
        width: calc(100% - 5rem);
    }

    .w-fullscreen-sm {
        width: calc(100% - 2.5rem);
    }
    
    .focus {
        @apply hover:outline hover:outline-2 hover:outline-default focus:outline focus:outline-2 focus:outline-default
    }

    .clip-triangle {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .mt-header {
        @apply sm:mt-[5rem];
        margin-top: 6.5rem;
    }

    .mt-header-dashboard {
        margin-top: -3rem;
    }

    .mt-header-before {
        margin-top: 7.75rem;
    }

    .pt-header {
        padding-top: 6.5rem;
    }

    .link {
        @apply cursor-pointer hover:opacity-80
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .w-fill {
        width: -webkit-fill-available;
        width: -moz-available;
    }

    .h-inherit {
        height: inherit;
    }

    .max-w-inherit {
        max-width: inherit;
    }

    .box-shadow {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}